<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.cdz.dao.charging.ChargingStationTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ga.cdz.domain.entity.ChargingStationType">
        <id column="sttpe_id" property="sttpeId"/>
        <result column="sttpe_name" property="sttpeName"/>
        <result column="insert_dt" property="insertDt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sttpe_id, sttpe_name, insert_dt
    </sql>

</mapper>
