<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.mapper.ChargingShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ga.cdz.dao.charging.ChargingShopMapper">
        <id column="shop_id" property="shopId"/>
        <result column="shop_code" property="shopCode"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_contact" property="shopContact"/>
        <result column="shop_tel" property="shopTel"/>
        <result column="shop_state" property="shopState"/>
        <result column="update_dt" property="updateDt"/>
        <result column="insert_dt" property="insertDt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_id, shop_code, shop_name, shop_contact, shop_tel, shop_state, update_dt, insert_dt
    </sql>

</mapper>
