<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.cdz.dao.charging.ChargingOrderCmtattachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ga.cdz.domain.entity.ChargingOrderCmtattach">
        <result column="comment_id" property="commentId"/>
        <result column="commentatc_idx" property="commentatcIdx"/>
        <result column="commentatc_path" property="commentatcPath"/>
        <result column="insert_dt" property="insertDt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, commentatc_idx, commentatc_path, insert_dt
    </sql>

</mapper>
