<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.cdz.dao.center.AdminInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ga.cdz.domain.entity.AdminInfo">
        <id column="admin_id" property="adminId" />
        <result column="admin_name" property="adminName" />
        <result column="admin_account" property="adminAccount" />
        <result column="admin_pwd" property="adminPwd" />
        <result column="admin_tel" property="adminTel" />
        <result column="admin_sex" property="adminSex" />
        <result column="admin_state" property="adminState" />
        <result column="insert_dt" property="insertDt" />
    </resultMap>

    <resultMap id="AdminDemoDTOMap" type="com.ga.cdz.domain.dto.admin.AdminDemoDTO">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="perm_id" property="permId" jdbcType="INTEGER"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_name, admin_account, admin_pwd, admin_tel, admin_sex, admin_state, insert_dt
    </sql>
    <!--通过ID查询管理员的权限-->
    <select id="selectAdminPermCodeListById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT DISTINCT
        d.perm_code
        FROM
        t_admin_info AS a
        LEFT JOIN t_admin_info_role AS b ON a.admin_id = b.admin_id
        LEFT JOIN t_admin_role_permission AS c ON b.role_id = c.role_id
        LEFT JOIN t_admin_permission AS d ON c.perm_id = d.perm_id
        WHERE
        a.admin_id =#{adminId,jdbcType=INTEGER}
    </select>

    <select id="selectAdminDemoDTOPage" resultMap="AdminDemoDTOMap">
        SELECT
        a.role_id AS roleId,
        role_name AS roleName,
        perm_id AS permId
        FROM
        t_admin_role AS a
        LEFT JOIN t_admin_role_permission AS b ON a.role_id=b.role_id
    </select>


</mapper>
